.edit-post{
    text-align: center;
}

.edit-post h2{
    font-size: 2.2em;
}

.edit-post p {
    color: #AAA;
    margin-bottom: 2em;
}

.body-post{
    height: 10em;
    resize: none;
    overflow: hidden;
}

.body-size{
    font-size: .8em;
    text-align: left;
}

.edit-post .preview-title{
    margin-bottom: .2em;
    color: #000;
    font-weight: bold;
}

.image-preview{
    max-width: 100%;
    margin-bottom: 1em;
}